#keywordChipInput {
    background-color: transparent;
}

#keywordChip {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 13px;
    background-color: rgba(230, 230, 230, 0.7);
}

#keywordChip:hover {
    border: 1px solid rgb(170, 170, 170);
    background-color: rgba(215, 215, 215, 0.85);
}

#keywordChipLabel {
    color: rgb(60, 60, 60);
    font: 11px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
}
